<h1>La page "To Do" avec la liste des tâches et formulaire de création</h1>

<% @todos.each do |todo| %>
  <%= todo.title %> <%= todo.description %>
<% end %>

<div class="form">
  <%= form_tag(todos_path, method: :post, class: "form", remote: true) do %>
    <label for="Title">Titre de la tâche</label>
    <%= text_field_tag 'title' %>

    <label for="Description">Description de la tâche</label>
    <%= text_field_tag 'description' %>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  <% end %>
</div>